packages:
  rpm:
    amazon-cloudwatch-agent: https://s3.amazonaws.com/amazoncloudwatch-agent/amazon_linux/amd64/latest/amazon-cloudwatch-agent.rpm

files:
  "/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json":
    mode: "000644"
    owner: root
    group: root
    content: |
      {
        "metrics": {
          "namespace": "CustomAppMetrics",
          "metrics_collected": {
            "mem": {
              "measurement": [
                "mem_used_percent"
              ]
            },
            "disk": {
              "measurement": [
                "used_percent"
              ],
              "resources": [
                "/"
              ]
            }
          }
        }
      }

commands:
  01_start_cloudwatch_agent:
    command: "/opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json -s"
